@font-face {
  font-family: 'LuciferSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lucifer Sans Bold.otf') format('opentype')
}

@font-face {
  font-family: 'LuciferSansSemiCondensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/LuciferSansCondensedBlack.otf') format('opentype')
}
