@font-face {
  font-family: 'LuciferSans';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/Lucifer Sans Black.otf') format('otf')      
}

@font-face {
  font-family: 'LuciferSansSemiCondensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/Lucifer Sans Condensed Black.otf') format('otf')      
}
