  .intro {
    padding-top: 93px;
    width: 100%;
    @media (max-width: 1919px) {
      padding-top: 0;
    }
    .intro__container {
      position: relative;
      display: flex;
      .intro__logo {
        font-family: 'LuciferSansSemiCondensed';
        font-size: 400px;
        line-height: 300px;
        text-transform: uppercase;
        color: #93845B;
        position: relative;
        z-index: 1;
        position: absolute;
        @media (max-width: 1919px) {
          font-size: 250px;
          line-height: 188px;
        }
      }
      tspan {
        opacity: 0;
        transition: transform 1s;
        display: inline-block;
        transform: translateX(-2010px);
      }
      .fade_surname {
        opacity: 1;
        transform: translateX(-72px);
        @media (max-width: 1919px) {
          transform: translateX(-15px);
        }
      }
      .intro__logo-name {
        opacity: 0;
        transition: transform 2s ease;
        transform: translateX(2000px);
        left: 371px;
        top: -2px;
        @media (max-width: 1919px) {
          left: 261px;
          top: 38px;
        }
        @media (max-width: 1199px) {
          font-size: 195px;
          line-height: 157px;
        }
      }
      .fade {
        opacity: 1;
        transform: translateX(0px);
      }
      .intro__logo-surname {
        bottom: 362px;
        z-index: 4;
        @media (max-width: 1919px) {
          bottom: 237px;
        }
        @media (max-width: 1199px) {
          font-size: 195px;
          line-height: 157px;
        }
      }
      #intro__surname {
        position: absolute;
        z-index: 4;
        bottom: 355px;
      }
      #intro__Logo-surname {
        font-family: 'LuciferSansSemiCondensed';
        font-size: 400px;
        line-height: 300px;
        text-transform: uppercase;
        fill: #93845B;
      }
      .intro__photo {
        display: flex;
        align-items: flex-start;
        position: relative;
        right: -51px;
        top: 4px;
        @media (max-width: 1199px) {
          right: -17px;
        }
        .intro__about {
          .intro__model_face {
            @media (max-width: 1919px) {
              width: 500px;
            }
            @media (max-width: 1199px) {
              width: 413px;
            }
          }
          .intro__text {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 114px;
            @media (max-width: 1919px) {
              top: 71px
            }
            .intro__info {
              @media (max-width: 1919px) {
                position: relative;
                top: 38px;
              }
              .info__item {
                .info__prof {
                  font-family: 'LuciferSansSemiCondensed';
                  text-transform: uppercase;
                }
                .info__name {
                  font-family: 'LuciferSansSemiCondensed';
                  font-size: 16px;
                  line-height: 21px;
                  text-transform: uppercase;
                  color: gray;
                }
                margin-bottom: 25px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
            .intro__example {
              position: relative;
              bottom: 222px;
              right: 47px;
              z-index: 3;
              @media (max-width: 1919px) {
                padding: 23px 20px 29px 20px;
                bottom: 116px;
                right: 10px;
              }
              .example__photo {
                @media (max-width: 1919px) {
                  width: 100px;
                  margin-right: 10px;
                }
              }
              .example__btn {
                position: relative;
                bottom: 20px;
                left: 20px;
                @media (max-width: 1919px) {
                  left: 14px;
                }
              }
              .example__text {
                @media (max-width: 1199px) {
                  max-width: 960px;
                  width: 207px;
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
        }
        .intro__photo_text {
          .intro__text {
            display: flex;
            position: relative;
            left: 358px;
            top: 202px;
            z-index: 1;
            @media (max-width: 1919px) {
              left: 211px;
            }
            .intro__city {
              font-size: 21px;
              text-transform: uppercase;
            }
            .intro__year {
              position: relative;
              bottom: 17px;
              right: 5px;
              font-size: 16px;
              text-transform: uppercase;
              color: #93845B;
            }
          }
          .intro__model_full_length {
            position: relative;
            top: 197px;
            right: 101px;
            z-index: 2;
            @media (max-width: 1919px) {
              width: 500px;
              right: 80px;
            }
            @media (max-width: 1199px) {
              width: 413px;
              right: 165px;
            }
          }
        }
        .intro__model__street {
          position: relative;
          right: 319px;
          bottom: 86px;
          @media (max-width: 1919px) {
            width: 240px;
            right: 217px;
            bottom: -4px;
          }
          @media (max-width: 1199px) {
            width: 198px;
            right: 300px;
          }
        }
      }
    }
    .intro__collection {
      position: relative;
      left: 677px;
      bottom: 49px;
      width: 250px;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media (max-width: 1919px) {
        bottom: -22px;
        left: 433px;
      }
      @media (max-width: 1199px) {
        max-width: 960px;
        left: 287px;
      }
      .intro__line {
        position: relative;
        bottom: 25px;
        z-index: 2;
        .intro__vertical_line {
          width: 2px;
          height: 40px;
          background: #000000;
        }
        .intro__vertical_line-white {
          background: #ffffff;
        }
      }
      .intro__collection_text {
        display: inline-block;
        font-family:'LuciferSansSemiCondensed';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

