.main__container {
  display: flex;
  .main__section {
    width: 100%;
    position: relative;
    .intro__logo {
      font-family: 'LuciferSansSemiCondensed';
      font-size: 400px;
      text-transform: uppercase;
      color: #93845B;
      position: relative;
    }
    .intro__logo-name {
      top: -120px;
      left: 475px;
    }
    .intro__logo-surname {
      top: 21px;
      right: 19px;
      .intro__logo-letterE {
      position: relative;
      display: inline-block;
      right: 17px;
      transform: rotate(-28deg);
      top: -63px;
      }
      .intro__logo-letterN {
      position: relative;
      display: inline-block;
      left: 1653px;
      top: -851px;
      transform: rotate(-64deg);
      }
    }
    .intro__photo {
      display: flex;
      .intro__about {
        .intro__model_face {

        }
        .intro__text {
          display: flex;
          justify-content: space-between;
          .intro__info {
            .info__item {
              .info__prof {
                font-family: 'LuciferSansSemiCondensed';
                font-size: 16px;
                line-height: 21px;
                text-transform: uppercase;
              }
              .info__name {
                font-family: 'LuciferSansSemiCondensed';
                font-size: 16px;
                line-height: 21px;
                text-transform: uppercase;
                color: gray;
              }
              margin-bottom: 25px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .example {
            display: flex;
            padding: 30px;
            border: 1px solid #000000;
            background: #F7F7F7;
            .example__photo {
              margin-right: 30px;
            }
            .example_desc {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .example__title {
                display: flex;
                justify-content: space-between;
                .example__name {
                  width: 175px;
                  font-family: 'LuciferSansSemiCondensed';
                  font-size: 15px;
                  line-height: 21px;
                  color: #B0B0B0;
                }
                .example__btn {
                  width: 32px;
                  height: 36px;
                  background-image: url(/img/Big_arrow.svg);
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }
              .example__text {
                width: 225px;
                font-family: 'LuciferSansSemiCondensed';
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .intro__photo_text {
        .intro__text {
          display: flex;
          .intro__city {
            font-size: 21px;
            text-transform: uppercase;
          }
          .intro__year {
            font-size: 16px;
            text-transform: uppercase;
            color: #93845B;
          }
        }
      }
      .intro__model__street {
      }
    }
    .intro__collection {
      width: 242px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      .intro__vertical_line {
        width: 2px;
        height: 40px;
        background: #000000;
      }
      .intro__collection_text {
        display: inline-block;
        font-family:'LuciferSansSemiCondensed';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
