.aside {
  padding-top: 90px;
  display: flex;
  justify-content: flex-end;
  width: 60px;
  flex-shrink: 0;
  margin-right: 100px;
  @media (max-width: 1920px) {
    margin-right: 0;
  }
  .list_left {
    height: 1002px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    .list_left__item {
      display: block;
      .list_left__btn {
        padding-top: 20px;
        position: relative;
        .list_left__text {
          font-family: 'LuciferSans';
          font-size: 31px;
          writing-mode: vertical-lr;
          text-orientation: mixed;
          text-shadow: 0.2px 0.2px #000000;
          color: #ffffff;
          text-transform: uppercase;
          transition: color 0.3s;
          transform: rotate(180deg);
          &:hover {
            color: grey
          }
          &::after {
            content: url(../img/Small_arrow.svg);
            position: absolute;
            right: 9px;
            bottom: -17px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
